header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
header .logo {
    height: 60px;
    width: 142px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}
